extends layout
block head
    title Datos [LabOptica]

block content
    .container-fluid
        div#maindiv(class="col-sm-6 col-sm-offset-3")
            h2#title
                span.fa.fa-database
                |  Datos

            .newelement.form-horizontal
                .form-group
                    label Número de muestra
                    input.form-control#number(type="text")
                .row
                    .col-md-4
                        .form-group
                            label.col-sm-3.control-label Género
                            select.form-control#gender(name="genero")
                                option(value="hombre") Hombre
                                option(value="mujer") Mujer
                    .col-md-4
                        .form-group
                            label.col-sm-3.control-label Color
                            select.form-control#color(name="color")
                                option(value="castano") Castaño
                                option(value="negro") Negro
                                option(value="rubio") Rubio
                    .col-md-4
                        .form-group
                            label.col-sm-3.control-label Tinte
                            select.form-control#tinte(name="tinte")
                                option(value="false") No
                                option(value="true") Sí
                .form-group.btndiv
                    button.btn.btn-success.addbtn Ingresar



            .pantalla
                p Cargando...

            //- Template para la vista de los datos
            script#dataTemplate(type="text/template").
                <% if ( Mensaje ){ %>
                    <div class="alert alert-info"><%= Mensaje %></div>
                <% } %>
                <div class="list-inline">
                    <li class="disp-li"><p><b>Número: </b><%= Number %></p></li>
                    <li><button class="btn btn-danger">Eliminar</button></li>
                </div>
                <div class="list-inline">
                    <li><p><b>Género: </b>
                        <% if (Gender === "hombre") { %>
                            <i class="fa fa-male"></i>
                        <% } else { %>
                            <i class="fa fa-female"></i>
                        <% } %>
                    </p></li>
                    <li>
                        <ul class="list-inline">
                            <li><p><b>Color: </b></li>
                            <li>
                            <% if (Color === "negro") { %>
                                <div class="circle color-negro"></div>
                            <% } if (Color === "castano") { %>
                                <div class="circle color-castano"></div>
                            <% } if (Color === "rubio") { %>
                                <div class="circle color-rubio"></div>
                            <% } %></p></li>
                        </ul>
                    </li>
                    <li><p><b>Tinte: </b>
                        <% if (Tinte) { %>
                            <i class="fa fa-check"></i>
                        <% } else { %>
                            <i class="fa fa-times"></i>
                        <% } %>
                    </p></li>
                </div>
                <div class="list-inline">
                    <li>
                        <p><b>Grosor: </b></p>
                    </li>
                    <li>
                        <input type="text" value="<%= Medida %>" id="medida" class="form-control" class="data-input">
                    </li>
                    <li>&#177;</li>
                    <li>
                        <input type="text" value="<%= Incert %>" id="incert" class="form-control" class="data-input">
                    </li>
                    <li>
                        <button class="btn btn-primary"><i class="fa fa-check"></i> Ok</button>
                    </li>
                </div>

    .loader
        .div(style="padding-top: 25%;")
            span.fa.fa-refresh.fa-spin.fa-5x
    script.
        $(window).load(function() {
            $(".loader").fadeOut("slow");
        })

    //- Backbone y Underscorejs, para la aplicación, además
    //- del programa de datos.
    script(src="/underscore/underscore-min.js")
    script(src="/backbone/backbone.js")
    script(src="/js/datos.js")
