body
  padding-top 50px
  font 14px "Helvetica Nueue", "Lucida Grande", Arial, sans-serif

.btndiv
  text-align right

.second
  visibility hidden

.col-md-8
  padding-right 15%

.cancel-button
  width 400px
  text-align right
