body
  padding-top 50px
  font 14px "Helvetica Nueue", "Lucida Grande", Arial, sans-serif

.btndiv
  text-align right

.second
  visibility hidden

.col-md-8
  padding-right 15%

.cancel-button
  width 400px
  text-align right

.loader
  position fixed
  left 0px
  top 0px
  width 100%
  height 100%
  z-index 9999
  background-color: white
  text-align center

.fa-male
  color blue

.fa-female
  color pink

.disp-li
  width 80%

.circle
  border-radius 50%
  width 20px
  height 20px
  display inline-block

.color-negro
  background-color black

.color-rubio
  background-color yellow

.color-castano
  background-color brown

.data-input
  width 10px
